img {
  margin: 10px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  float: left;
}

#profile {
  background-color: rgb(147, 122, 170);
}

#repos {
  background-color: rgb(147, 122, 170);
}

#issues {
  background-color: rgb(147, 122, 170);
}

#commits {
  background-color: rgb(147, 122, 170);
}

ul {
  float: right;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: large;
  align-content: center;
}

.info {
  width: 100%;
  display: inline-block;
}
